<div class="m-10 p-4 bg-white shadow-md border border-black rounded">
  <h1 class="text-2xl font-semibold mb-5">Books</h1>

  <div class="flex flex-wrap gap-5">
    @for (book of books; track $index) {
    <div class="relative max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm
       hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" (click)="onUpdate(book)">
      <span class="absolute top-1 right-1 text-base font-bold cursor-pointer text-gray-400"
        (click)="onDelete($event, book)">X</span>
      <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{book.name}}</h3>
      <h5 class="mb-2 text-lg font-medium tracking-tight text-gray-500 dark:text-white">{{book.price | currency}}</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">{{book.description}}</p>
    </div>
    }
  </div>
</div>


<!-- <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Books</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let book of books" (click)="select.emit(book)">
          <div matListItemTitle>{{book.name}} | {{ book.description }} | {{ book.price }}  
              <button
              *ngIf="!readonly"
              mat-icon-button
              (click)="delete.emit(book); $event.stopImmediatePropagation()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card> -->