<form [formGroup]="bookForm" class="max-w-2xl bg-white shadow-md rounded px-8 pt-6 pb-8 my-6 mx-10 border border-black">
  <h1 class="text-2xl font-semibold mb-5">Add Book</h1>
  <div class="flex gap-4 justify-between items-center">
    <div class="relative z-0 w-full mb-5 group">
      <input type="text" name="bookName" id="bookName" class="block py-2.5 px-0 w-full text-base text-gray-900 
          bg-transparent border-0 border-b-2 border-gray-300 appearance-none 
           focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " formControlName="name" />
      <label for="bookName" class="peer-focus:font-medium absolute text-base text-gray-500 dark:text-gray-400 duration-300 transform 
          -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 
          rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 
          peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
          peer-focus:-translate-y-6">Name</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input type="number" name="bookPrice" id="bookPrice" class="block py-2.5 px-0 w-full text-base text-gray-900 
          bg-transparent border-0 border-b-2 border-gray-300 appearance-none
           focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " formControlName="price" />
      <label for="bookPrice" class="peer-focus:font-medium absolute text-base text-gray-500 dark:text-gray-400 duration-300 transform 
          -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 
          rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 
          peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
          peer-focus:-translate-y-6">Price</label>
    </div>
  </div>
  <div class="relative z-0 w-full mb-5 group">
    <textarea rows="3" name="bookDescription" id="bookDescription" class="block w-full text-base text-gray-900 
         bg-transparent border border-gray-300 p-4 rounded
         focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="Description"
      formControlName="description"></textarea>
  </div>
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none 
        focus:ring-blue-300 font-medium rounded-lg text-base w-full sm:w-auto px-5 py-2.5 text-center
         dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" (click)="onSubmit()"
    [disabled]="bookForm.invalid">Submit</button>
</form>







<!-- <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>
          <span *ngIf="originalBook?.id; else prompt"
            >Editing {{ originalBook?.name }}</span
          >
          <ng-template #prompt>Create Book</ng-template>
        </h1>
      </mat-card-title>
    </mat-card-header>
    <form [formGroup]="bookForm" #f="ngForm" (submit)="onSubmit(f.value)">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input type="string" matInput placeholder="Name" formControlName="name" type="text" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            type="number"
            matInput
            placeholder="Earnings"
            formControlName="price"
            type="text"
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            type="string"
            matInput
            placeholder="Description"
            formControlName="description"
            type="text"
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-button>Save</button>
        <button type="button" mat-button (click)="cancel.emit()">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card> -->